@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #fff;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
   sans-serif;
   line-height: 1.5;
   letter-spacing: 0em;
}

.colorRed {
  color: red;
}

.w-nav-button {
  position: relative;
  float: right;
  padding: 18px;
  font-size: 24px;
  display: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

#home {
  clip-path: url(#cache);
}

#red {
  fill: none;
  opacity: 0.15;
  stroke: #CE1B5F;
  stroke-width: 12;
  stroke-miterlimit:10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
}

#blue {
  fill: none;
  opacity: 0.15;
  stroke: #06A1C4;
  stroke-width: 12;
  stroke-miterlimit:10;
  animation: show 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#light-blue {
  fill: none;
  opacity: 0.15;
  stroke: #06A1C4;
  stroke-width: 6;
  stroke-miterlimit:10;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  animation: draw 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;    
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
 }
    }

@keyframes show {
  0% {
    opacity: 0.15;
 }
  50% {
    opacity: 0.2;
 }
  100% {
    opacity: 0.15;
 }
    }

    .header {
      box-sizing: border-box;
      width: 100%;
      background-color: #fff;
      position:fixed;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07);
      z-index:1001;
    }
    
    .header-inner {
      display: flex;
      align-items: center;
      max-width: 1080px;
      height: 80px;
      padding: 0 0.8em;
      margin: 0 auto;
      font-size: 1.2em;
    }

   
    
    .header-nav-list {
      display: flex;
      padding-right: 22px;
    }
    
    .header-nav-item {
      float: left;
      padding: 12px;
      margin-right: 50px;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      list-style: none;
    }
    
    .header-nav-item a {
      text-decoration: none;
    }
    
    .header-ham {
      display: none;
    }
    
    .menu2 {
      width: 20px;
      height: 3px;
      margin: 4px 0;
      margin-right: 0;
      background-color: #333;
    }
    
    .select {
      color: #444;
    }
    
    .header-nav-item:hover {
      background: #eee;
    }
    
    .logo img {
      width: 45%;
    }

    .app_icon_header img {
      margin-right: 5%;
    }
   
    @media screen and (max-width: 720px) {
      .header-nav-list {
        display: none;
      }
    
      .header-nav {
        margin: 0 0 0 auto;
      }
    
      .header-ham {
        display: block;
      }

      .logo img {
        width: 70%;
      }

      .app_icon_header img {
        display: none;
      }
    }


.fv-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  
}

@media screen and (max-width:820px) {
  .fv-container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
 }

 .bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #76B7B4 70%, #fff 70%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}



.fv-text {
  padding-top: 17%;
  padding-left: 14%;
}


@media screen and (max-width:820px) {
  .fv-text {
padding-left: 0;
  }
 }

.fv-text p {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  padding-top: 2%;
  padding-left: 15%;
  padding: 30px;
  padding-bottom: 7%;
  
 }


@media screen and (max-width:820px) {
  .fv-text p {
    font-size: 25px;
    font-weight: bold;
    color: #000;
    padding-top: 12%;
    padding-bottom: 2%;
    text-align: center;
  }
 }

.fv-text h1 {
 font-size: 45px;
 font-weight: bold;
 color: #4e4134;
 padding-bottom: 10%;
 text-align: center;
}

@media screen and (max-width:820px) {
  .fv-text h1 {
    font-size: 46px;
    font-weight: bold;
    color: #4e4134;
    padding: 0%;
    padding-bottom: 6%;
    
    text-align: center;
   }
 }

.app_icon {
 padding-left: 27%;
 padding-right: 25%;
 padding-bottom: 14%;
 text-align: center;
}

@media screen and (max-width:820px) {
  .app_icon {
    padding-bottom: 10%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 10%;
   }
 }


 .fv {
  display: flex;
  flex: 0 0 50%;
  max-width: 50%;
 }

 @media screen and (max-width:820px) {
  .fv {
    display: block;
   }
 }

 .fv-gazo {
  display: flex;
  padding-right: 0%;
  padding-top: 7%;
  padding-bottom: 2%;
  padding-right: 6%;
  margin-left: 6%;
  height: 100%;
  width: 37%;
 }


 
.fv-gazo.is-animated {
  animation: fadeIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}
 
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
 

 @media screen and (max-width:820px) {
  .fv-gazo {
    display: block;
    padding-right: 0%;
    padding-left: 3%;
    padding-top: 0%;
    padding-bottom: 7%;
    padding-right: 3%;
    margin-left: 0%;
    height: 100%;
    width: 100%;
   }
 }
 

 .fv-gazo img {
  width: 100%;
 }

 .about {
  background-color: #EFEEEC;
  text-align: center;
  height: auto;
  width: 100%;
 }

 @media screen and (max-width:820px) {
  .about{
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
 }

 .line_about {
  padding-top: 6%;
 }

 .line {
  text-align: center;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:bolder;
  font-size: 20px;
}

.line::before,
.line::after {
  content: '';
  width: 60px;
  height: 4px;
  display: block;
  background-color: #76B7B4;
  position: absolute;
}

@media screen and (max-width:820px) {
  .line::before,
  .line::after{
    height: 2px;
  }
 }

.line::before {
  position: absolute;
  top: 50%;
  left: 42%;
  transform: translateY(-50%);
  position: absolute;
}

@media screen and (max-width:820px) {
  .line::before{
    left: 19%;
  }
 }

.line::after {
  position: absolute;
  top: 50%;
  right: 42%;
  transform: translateY(-50%);
  position: absolute;
}


@media screen and (max-width:820px) {
  .line::after{
    right: 19%;
  }
 }



 .about_hed h1 {
  color: #2f2f2f;
  font-size: 40px;
  font-weight: bold;
  padding-top: 1%;
 }

 

 @media screen and (max-width:820px) {
  .about_hed h1{
    font-size: 33px;
    padding-top: 3%;
    text-align: center;
  }
 }


  .about_hed p {
  font-size: 19px;
  font-weight: bold;
  padding-top: 3%;
  line-height: 1.9;
 }

 @media screen and (max-width:820px) {
  .about_hed p{
    font-size: 16px;
    text-align: center;
    padding-top: 4%;
  }
 }

 .about_gazo {
   width: 30%;
   margin: auto;
   padding-bottom: 2%;
 }

 @media screen and (max-width:820px) {
  .about_gazo {
    width: 80%;
  }
 }

 .skills {
  background-color: #Fff;
  text-align: center;
  height: auto;
 }

 .skills_block01 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 3%;
 }

 @media screen and (max-width:820px) {
  .skills_block01{
    display: block;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
 }

 .skills_block02 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 3%;
 }

 @media screen and (max-width:820px) {
  .skills_block02{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column-reverse;
  }
 }

 .skills_block03 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 3%;
  padding-bottom: 7%;
 }

 @media screen and (max-width:820px) {
  .skills_block03 {
    display: block;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10%;
  }
 }


 .skills_hed h1 {
  color: #2f2f2f;
  font-size: 40px;
  font-weight: bold;
  padding-top: 1%;
  text-align: center;
 }

 @media screen and (max-width:820px) {
  .skills_hed h1{
    display: block;
    width: 100%;
    font-size: 33px;
    text-align: center;
  }
 }

 .line_skills {
  padding-top: 6%;
 }


 

.text_block01 {
  width: 50%;
  padding-top: 10%;
  text-align: left;
  padding-right: 8%;
}

@media screen and (max-width:820px) {
  .text_block01{
    display: block;
    width: 100%;
    padding-top: 3%;
    padding-right: 0%;
  }
 }

.text_block01 h4 {
  color: #2f2f2f;
  line-height: 1.8;
  margin-bottom: 5%;
  font-size: 30px;
  font-family: monospace;
  font-weight: bold;
}

@media screen and (max-width:820px) {
  .text_block01 h4 {
    display: block;
font-size: 26px;
margin-bottom: 1%;
  }
 }

 .text_block02 {
  width: 50%;
  padding-top: 10%;
  text-align: left;
  padding-left: 8%;
}

@media screen and (max-width:820px) {
  .text_block02{
    display: block;
    width: 100%;
    padding-top: 3%;
    padding-left: 0%;
  }
 }

 .text_block03 {
  width: 50%;
  padding-top: 10%;
  text-align: left;
  padding-right: 8%;
}

@media screen and (max-width:820px) {
  .text_block03{
    display: block;
    width: 100%;
    padding-top: 3%;
    padding-right: 0%;
  }
 }


.text_block02 h4 {
  color: #2f2f2f;
  line-height: 1.8;
  margin-bottom: 5%;
  font-size: 30px;
  font-family: monospace;
  font-weight: bold;
}

@media screen and (max-width:820px) {
  .text_block02 h4 {
    display: block;
font-size: 26px;
margin-bottom: 1%;
  }
 }

 .text_block03 h4 {
  color: #2f2f2f;
  line-height: 1.8;
  margin-bottom: 5%;
  font-size: 30px;
  font-family: monospace;
  font-weight: bold;
}

@media screen and (max-width:820px) {
  .text_block03 h4 {
    display: block;
font-size: 26px;
margin-bottom: 1%;
  }
 }



 h4 span {
  color: #76B7B4;
  font-size: 40px;
  font-size: 'Roboto';
 }

 @media screen and (max-width:820px) {
  h4 span {
  
font-size: 34px;
  }
 }

.skills_inner {
  margin-left: auto;
  margin-right: auto;
}

.skills p {
  font-family: monospace;
  line-height: 1.9;
  font-weight: bolder;
  font-size: 16px;
}

.skills_img01 {
  width: 50%;
}

@media screen and (max-width:820px) {
  .skills_img01{
    padding-top: 3%;
    width: 100%;
  }
 }

 .skills_img02 {
  width: 50%;
}

@media screen and (max-width:820px) {
  .skills_img02{
    padding-top: 3%;
    width: 100%;
  }
 }

 .skills_img03 {
  width: 50%;
}

@media screen and (max-width:820px) {
  .skills_img03{
    padding-top: 5%;
    width: 100%;
  }
 }


 .downlord_container {
  text-align: center;
 }

 .downlord {
  background-color: #76B7B4;
  text-align: center;
 }

 .downlord h1 {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 0%;
 }

 @media screen and (max-width:820px) {
  .downlord h1 {
    padding-top: 12%;
    padding-bottom: 0%;
    font-size: 20px;
  }
 }

 .app_icon_down {
  text-align: center;
  padding-bottom: 3%;
 }


 .main-container {
   padding-left: 20%;
   padding-right: 20%;
   padding-top: 50px;
 }

 @media screen and (max-width:820px) {
  .main-container{
    padding-left: 30px;
    padding-right: 30px;
  }
 }

 .head {
  font-size: 25px;
  text-align: center;
  padding-bottom: 10%;
 }

 .Chapter_1 {
  font-size: 23px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1%;
 }

 .headline_1 h3 {
  font-size: 20px;
  padding-top: 5%;
  padding-bottom: 2%;
 }

 .headline_1 p {
  font-size: 15px;
  padding-bottom: 5%;
 }

 

 .headline_2 h3 {
  font-size: 20px;
  padding-bottom: 2%;
 }

 .headline_2 p {
  font-size: 15px;
  padding-bottom: 5%;
 }



 .headline_3 h3 {
  font-size: 20px;
  padding-bottom: 2%;
 }

 .headline_3 p {
  font-size: 15px;
  padding-bottom: 5%;
 }

 .headline_4 h3 {
  font-size: 20px;
  padding-bottom: 2%;
 }

 .headline_4 p {
  font-size: 15px;
  padding-bottom: 10%;
 }

 .Chapter_2 {
  font-size: 23px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1%;
 }

 .headline_5 h3 {
  font-size: 20px;
  padding-top: 5%;
  padding-bottom: 2%;
 }

 .headline_5 p {
  font-size: 15px;
  padding-bottom: 5%;
 }

 .headline_6 h3 {
  font-size: 20px;
  
  padding-bottom: 2%;
 }

 .headline_6 p {
  font-size: 15px;
  padding-bottom: 10%;
 }

 .Chapter_3 {
  font-size: 23px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1%;
 }

 .headline_7 h3 {
  font-size: 20px;
  padding-top: 5%;
  padding-bottom: 2%;
 }

 .headline_7 p {
  font-size: 15px;
  padding-bottom: 5%;
 }

 .headline_8 h3 {
  font-size: 20px;
  padding-bottom: 2%;
 }

 .headline_8 p {
  font-size: 15px;
  padding-bottom: 5%;
 }

 .headline_9 h3 {
  font-size: 20px;
  padding-bottom: 2%;
 }

 .headline_9 p {
  font-size: 15px;
  padding-bottom: 5%;
 }

 .headline_10 h3 {
  font-size: 20px;
  padding-bottom: 2%;
 }

 .headline_10 p {
  font-size: 15px;
  padding-bottom: 5%;
 }

 .headline_11 h3 {
  font-size: 20px;
  padding-bottom: 2%;
 }

 .headline_11 p {
  font-size: 15px;
  padding-bottom: 10%;
 }

 .Chapter_4 {
  font-size: 23px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1%;
 }

 .headline_12 h3 {
  font-size: 20px;
  padding-top: 5%;
  padding-bottom: 2%;
 }

 .headline_12 p {
  font-size: 15px;
  padding-bottom: 5%;
 }

 .headline_13 h3 {
  font-size: 20px;
  padding-bottom: 2%;
 }

 .headline_13 p {
  font-size: 15px;
  padding-bottom: 10%;
 }


 .Chapter_5 {
  font-size: 23px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1%;
 }

 .headline_14 h3 {
  font-size: 20px;
  padding-bottom: 3%;
  padding-top: 2%;
 }

 .headline_14 p {
  font-size: 15px;
  padding-bottom: 5%;
 }

 .headline_15 h3 {
  font-size: 20px;
  padding-bottom: 2%;
 }

 .headline_15 p {
  font-size: 15px;
  padding-bottom: 5%;
 }

 .headline_16 h3 {
  font-size: 20px;
  padding-bottom: 2%;
 }

 .headline_16 p {
  font-size: 15px;
  padding-bottom: 10%;
 }

 .Chapter_6 {
  font-size: 23px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1%;
 }

 .headline_17 h3 {
  font-size: 20px;
  padding-bottom: 2%;
  padding-top: 5%;
 }

 .headline_17 p {
  font-size: 15px;
  padding-bottom: 5%;
 }

 .headline_18 h3 {
  font-size: 20px;
  padding-bottom: 2%;

 }

 .headline_18 p {
  font-size: 15px;
  padding-bottom: 5%;
 }

 .headline_19 h3 {
  font-size: 20px;
  padding-bottom: 2%;

 }

 .headline_19 p {
  font-size: 15px;
  padding-bottom: 10%;
 }

 .Chapter_7 {
  font-size: 23px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1%;
 }

 .headline_20 h3 {
  font-size: 20px;
  padding-bottom: 2%;
  padding-top: 5%;
 }

 .headline_20 p {
  font-size: 15px;
  padding-bottom: 5%;
 }

 .headline_21 h3 {
  font-size: 20px;
  padding-bottom: 2%;
 }

 .headline_21 p {
  font-size: 15px;
  padding-bottom: 5%;
 }

 .headline_22 h3 {
  font-size: 20px;
  padding-bottom: 2%;
 }

 .headline_22 p {
  font-size: 15px;
  padding-bottom: 5%;
 }

 .headline_23 h3 {
  font-size: 20px;
  padding-bottom: 2%;
 }

 .headline_23 p {
  font-size: 15px;
  padding-bottom: 5%;
 }

 .headline_24 h3 {
  font-size: 20px;
  padding-bottom: 2%;
 }

 .headline_24 p {
  font-size: 15px;
  padding-bottom: 5%;
 }

 .headline_25 h3 {
  font-size: 20px;
  padding-bottom: 2%;
 }

 .headline_25 p {
  font-size: 15px;
  padding-bottom: 5%;
 }
 
 .headline_26 h3 {
  font-size: 20px;
  padding-bottom: 2%;
 }

 .headline_26 p {
  font-size: 15px;
  padding-bottom: 5%;
 }

 .headline_27 h3 {
  font-size: 20px;
  padding-bottom: 2%;
 }

 .headline_27 p {
  font-size: 15px;
  padding-bottom: 5%;
 }

 .headline_28 h3 {
  font-size: 20px;
  padding-bottom: 2%;
 }

 .headline_28 p {
  font-size: 15px;
  padding-bottom: 20%;
 }

 .privacy-container {
  padding-left: 20%;
   padding-right: 20%;
   padding-top: 50px;
 }

 @media screen and (max-width:640px) {
  .privacy-container{
    padding-left: 30px;
    padding-right: 30px;
  }
 }

 .privacy_head {
  font-size: 25px;
  text-align: center;
 }

 .privacy-container p {
  padding-top: 3%;
padding-bottom: 10%;
 }

 .headline_3_l {
  padding-bottom: 10%;
 }