@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #f6f6f6;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
   sans-serif;
   line-height: 1.1;
   letter-spacing: 0em;
}

.colorRed {
  color: red;
}

.w-nav-button {
  position: relative;
  float: right;
  padding: 18px;
  font-size: 24px;
  display: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}



.fv-container {
  width: 100%;
 
  margin-right: auto;
  margin-left: auto;
  display: flex;
}




.fv-text {
  padding-top: 20%;
  padding-left: 13%;
}

.fv-text p {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  padding-top: 2%;
  padding-left: 15%;
  padding: 30px;
  padding-bottom: 1%;
 }

.fv-text h1 {
 font-size: 40px;
 font-weight: bold;
 color: #76B7B4;
 
 padding: 20px;
 padding-bottom: 20%;
 
}

.app_icon {
  padding-left: 15%;
}


 .fv {
  display: flex;
  flex: 0 0 50%;
  max-width: 50%;
 }

 .fv-gazo {
  display: flex;
  
 
  padding-right: 0%;
  padding-top: 7%;
 margin-left: 10%;

 }
